<a href="https://colab.research.google.com/github/rahulbalaji13/PLACEMENT/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!git clone https://github.com/rahulbalaji13/PLACEMENT.git

Cloning into 'PLACEMENT'...
remote: Enumerating objects: 1084, done.
remote: Counting objects: 100% (137/137), done.
remote: Compressing objects: 100% (124/124), done.
remote: Total 1084 (delta 64), reused 0 (delta 0), pack-reused 947 (from 2)
Receiving objects: 100% (1084/1084), 337.25 KiB | 4.32 MiB/s, done.
Resolving deltas: 100% (419/419), done.

In [10]:
%cd /content/PLACEMENT/Roadmap_to_python

/content/PLACEMENT/Roadmap_to_python

In [11]:
with open("test.txt", "w") as f:
    f.write("Hello from Google Colab!")

In [12]:
!git config --global user.email "rahul.balaji13289@gmail.com"
!git config --global user.name "rahulbalaji13"

In [13]:
!git add .
!git commit -m "Commit from Google Colab"

[main f6135fa] Commit from Google Colab
 1 file changed, 1 insertion(+)
 create mode 100644 Roadmap_to_python/test.txt

# 1. SETS

**SET: Sets are used to store multiple items in a single variable that are unordered, unchangeable and do not allow duplicate value. SET = {}**

In [ ]:
mysets = {1,2,3}

print(mysets)

print(len(mysets))

mysets.add(4)

print(mysets)

mysets1 = {5,6,7}

mysets.update(mysets1)

print(mysets)

mysets.remove(3)

print(mysets)

mysets.discard(2)

print(mysets)

mysets.clear()

print(mysets)

{1, 2, 3}
3
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
{1, 4, 5, 6, 7}
set()

# 2. Dictionary

**Dictionaries are used to store data values in keywords and value pairs**

In [ ]:
mydict = {
    "IIT" : "Indian Institute of Technology",
    "ISRO" : "Indian Space Research Organisation",
    "TCS" : "Tata Consultancy Services"
}

print(mydict)

print(mydict["TCS"])

mydict["IIT"] = "Indian Institute of Technology Madras"

print(mydict)

print(mydict.keys())

print(mydict.values())

print(mydict.items())

{'IIT': 'Indian Institute of Technology', 'ISRO': 'Indian Space Research Organisation', 'TCS': 'Tata Consultancy Services'}
Tata Consultancy Services
{'IIT': 'Indian Institute of Technology Madras', 'ISRO': 'Indian Space Research Organisation', 'TCS': 'Tata Consultancy Services'}
dict_keys(['IIT', 'ISRO', 'TCS'])
dict_values(['Indian Institute of Technology Madras', 'Indian Space Research Organisation', 'Tata Consultancy Services'])
dict_items([('IIT', 'Indian Institute of Technology Madras'), ('ISRO', 'Indian Space Research Organisation'), ('TCS', 'Tata Consultancy Services')])

In [ ]:
print(len(mydict))

3

# 3. LIST

**LIST (CHANGEABLE): Lists are used to store mutiple items in a single variable that ordered, chageable and allowed to be duplicate**

In [ ]:
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

# 4. Creating class and objects



```
# This is formatted as code

class Circle():

--> Class should be accessed using objects after creation of objects.

r = input()
NewCircle --> Object
newCircle = Circle(r) --> Class circle accessed using newCircle object
```

In [ ]:
class class_name:
  def __init__(self, name, brand, engine, mileage):
    self.name = name
    self.brand = brand
    self.engine = engine
    self.mileage = mileage

object_name_car = class_name("M4", "BMW", 4300, 10)
print(object_name_car.brand)

BMW

In [ ]:
class fruits:
    def __init__(self, price):
        self.price = price
obj=fruits(50)

obj.quantity=10
obj.bags=2

# obj.quantity is 10
# obj.__dict__ contains {'price': 50, 'quantity': 10, 'bags': 2}
# len(obj.__dict__) will be 3 (number of attributes: price, quantity, bags)
# So, 10 (obj.quantity) + 3 (len(obj.__dict__)) = 13
print(obj.quantity+len(obj.__dict__))

13

In [ ]:
class Employee:
    def __init__(self):
        self.id=1000                       #PUBLIC ACCESS MODIFIER
        self._salary=10000                 #PRIVATE ACCESS MODIFIER
emp=Employee()
print(emp.id)
print(emp.salary)  #SINCE SALARY IS DECLARED WITH _SALARY, IT CAN'T BE ACCESSED

1000

AttributeError: 'Employee' object has no attribute 'salary'

In [ ]:
class python_string:
    def reverse_words(self, sentence):
        words = sentence.split()
        reversed_words = words[::-1]
        return ' '.join(reversed_words)

# Sample usage:
string_reverser = python_string()
input_sentence = "Hello Python"
output_sentence = string_reverser.reverse_words(input_sentence)
print(output_sentence)

input_sentence_2 = "This is a test sentence"
output_sentence_2 = string_reverser.reverse_words(input_sentence_2)
print(output_sentence_2)

Python Hello
sentence test a is This

In [1]:
class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14

    def perimeter(self):
        return 2*self.radius*3.14

radius = int(input())
NewCircle = Circle(radius)
print(NewCircle.area())
print(NewCircle.perimeter())

8
200.96
50.24

In [2]:
class IOString:
    def __init__(self,s):
        self.s = s

    def get_String(self):
        self.s = input()

    def print_String(self):
        return self.s.upper()


myobject = IOString('')
myobject.get_String()
print(myobject.print_String())

rahul
RAHUL