# 1. SETS

**SET: Sets are used to store multiple items in a single variable that are unordered, unchangeable and do not allow duplicate value. SET = {}**

In [ ]:
mysets = {1,2,3}

print(mysets)

print(len(mysets))

mysets.add(4)

print(mysets)

mysets1 = {5,6,7}

mysets.update(mysets1)

print(mysets)

mysets.remove(3)

print(mysets)

mysets.discard(2)

print(mysets)

mysets.clear()

print(mysets)

{1, 2, 3}
3
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
{1, 4, 5, 6, 7}
set()

# 2. Dictionary

**Dictionaries are used to store data values in keywords and value pairs**

In [ ]:
mydict = {
    "IIT" : "Indian Institute of Technology",
    "ISRO" : "Indian Space Research Organisation",
    "TCS" : "Tata Consultancy Services"
}

print(mydict)

print(mydict["TCS"])

mydict["IIT"] = "Indian Institute of Technology Madras"

print(mydict)

print(mydict.keys())

print(mydict.values())

print(mydict.items())

{'IIT': 'Indian Institute of Technology', 'ISRO': 'Indian Space Research Organisation', 'TCS': 'Tata Consultancy Services'}
Tata Consultancy Services
{'IIT': 'Indian Institute of Technology Madras', 'ISRO': 'Indian Space Research Organisation', 'TCS': 'Tata Consultancy Services'}
dict_keys(['IIT', 'ISRO', 'TCS'])
dict_values(['Indian Institute of Technology Madras', 'Indian Space Research Organisation', 'Tata Consultancy Services'])
dict_items([('IIT', 'Indian Institute of Technology Madras'), ('ISRO', 'Indian Space Research Organisation'), ('TCS', 'Tata Consultancy Services')])

In [ ]:
print(len(mydict))

3

# 3. LIST

**LIST (CHANGEABLE): Lists are used to store mutiple items in a single variable that ordered, chageable and allowed to be duplicate**

In [ ]:
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

# 4. Creating class and objects



```
# This is formatted as code

class Circle():

--> Class should be accessed using objects after creation of objects.

r = input()
NewCircle --> Object
newCircle = Circle(r) --> Class circle accessed using newCircle object
```

In [ ]:
class class_name:
  def __init__(self, name, brand, engine, mileage):
    self.name = name
    self.brand = brand
    self.engine = engine
    self.mileage = mileage

object_name_car = class_name("M4", "BMW", 4300, 10)
print(object_name_car.brand)

BMW

In [ ]:
class fruits:
    def __init__(self, price):
        self.price = price
obj=fruits(50)

obj.quantity=10
obj.bags=2

# obj.quantity is 10
# obj.__dict__ contains {'price': 50, 'quantity': 10, 'bags': 2}
# len(obj.__dict__) will be 3 (number of attributes: price, quantity, bags)
# So, 10 (obj.quantity) + 3 (len(obj.__dict__)) = 13
print(obj.quantity+len(obj.__dict__))

13

In [ ]:
class Employee:
    def __init__(self):
        self.id=1000                       #PUBLIC ACCESS MODIFIER
        self._salary=10000                 #PRIVATE ACCESS MODIFIER
emp=Employee()
print(emp.id)
print(emp.salary)  #SINCE SALARY IS DECLARED WITH _SALARY, IT CAN'T BE ACCESSED

1000

AttributeError: 'Employee' object has no attribute 'salary'

In [ ]:
class python_string:
    def reverse_words(self, sentence):
        words = sentence.split()
        reversed_words = words[::-1]
        return ' '.join(reversed_words)

# Sample usage:
string_reverser = python_string()
input_sentence = "Hello Python"
output_sentence = string_reverser.reverse_words(input_sentence)
print(output_sentence)

input_sentence_2 = "This is a test sentence"
output_sentence_2 = string_reverser.reverse_words(input_sentence_2)
print(output_sentence_2)

Python Hello
sentence test a is This

In [ ]:
class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14

    def perimeter(self):
        return 2*self.radius*3.14

radius = int(input())
NewCircle = Circle(radius)
print(NewCircle.area())
print(NewCircle.perimeter())

8
200.96
50.24

In [ ]:
class IOString:
    def __init__(self,s):
        self.s = s

    def get_String(self):
        self.s = input()

    def print_String(self):
        return self.s.upper()


myobject = IOString('')
myobject.get_String()
print(myobject.print_String())

rahul
RAHUL

# 5. Inheritance

In [ ]:
class Demo:
    def __init__(self):
        self.x = 1
    def change(self):
        self.x = 10  # Not executed because --> When obj.change() is called,
        '''
        Python looks for the change method in the Demo_derived class first.
        Since Demo_derived does have its own change method, that method is executed,
        and the change method from the Demo class is not called.

        '''
class Demo_derived(Demo):
    def change(self):
        self.x=self.x+1
        return self.x
def main():
    obj = Demo_derived()
    print(obj.change())

main()

2

Let's trace the execution of the code:

1.  **`main()` function call**: The program begins by calling the `main()` function.

2.  **`obj = Demo_derived()`**: An object `obj` is created from the `Demo_derived` class.
    *   When `Demo_derived` is instantiated, its constructor (if present) would be called. Since `Demo_derived` doesn't have its own `__init__` method, Python calls the `__init__` method of its parent class, `Demo`.
    *   Inside `Demo.__init__(self)`, `self.x` is initialized to `1`. So, `obj.x` becomes `1`.

3.  **`print(obj.change())`**: The `change()` method is called on the `obj` object.
    *   Since `Demo_derived` has its own `change()` method, that method is executed (this is method overriding).
    *   Inside `Demo_derived.change(self)`:
        *   `self.x` (which is `1`) is updated by `self.x = self.x + 1`.
        *   So, `self.x` becomes `1 + 1 = 2`.
        *   The method then `return self.x`, which is `2`.

4.  **`print()` output**: The `print()` function receives the value `2` from `obj.change()` and outputs it to the console.

Therefore, the final output of the code is:
```
2
```

In [ ]:
class compute:
  def area(self, x = None, y = None):
    if x != None and y != None:
      print(x * y)
    elif x != None:
      print(x * x)
    else:
      print(0)

input1 = int(input())
input2 = int(input())
obj = compute()
obj.area()
obj.area(input1)
obj.area(input1, input2)

2
4
0
4
8

# 6. File Handling
![image.png]()

In [ ]:
# read - 'r', write - 'w', append - 'a', r+ - read and write
with open('data.txt', 'w') as file:
     data = open("data.txt", "r")
     print(data.readable())
     print(data.read())
     print(data.readlines()) #It reads all the lines
     print(data.readline()) #To read one line
     #print(data.readline()[8])
     data.close()

True

[]

In [ ]:
data = open("data.txt", "a")
data.write("I am neo")
data = open("data.txt", 'w')
data.write("my name is kiran")

16

# 7. Exception handling

In [ ]:
x = 10

try:
  print(x)
except:
  print("There was some issue")
finally:
  print("Process is over")

10
Process is over

In [ ]:
try:
  print(x)
except:
  print("There was some issue")
finally:
  print("Process is over")

10
Process is over

 # 8. Multithreading

In [ ]:
import threading

class thread(threading.Thread):
    def __init__(self, thread_ID, thread_name):
        threading.Thread.__init__(self)
        self.thread_ID = thread_ID
        self.thread_name = thread_name
    def run(self):
        print(self.thread_name)

thread1 = thread(100, "Student")
thread2 = thread(101, "VJIT ")
thread3 = thread(102, "VJITStudent ")

thread = []
thread.append(thread1)
thread.append(thread2)
thread.append(thread3)

thread1.start()
thread2.start()
for thread in thread:
    thread.join()

thread3.start()

print("Exit")

Student
VJIT

RuntimeError: cannot join thread before it is started

# 9. Logic building - Pattern programs

## Square Pattern

In [ ]:
print("## Square Pattern\n\n### Subtask:\nGenerate Python code to print a solid square pattern using asterisks.\n")
# Print a solid square pattern using asterisks based on a user-defined size.

# Prompt the user to enter the desired size (number of rows/columns) for the square.
size = int(input("Enter the size of the square (e.g., 5 for a 5x5 square): "))

# Outer loop for iterating through each row.
# The range(size) function generates numbers from 0 up to (but not including) 'size'.
for i in range(size):
    # Inner loop for iterating through each column in the current row.
    for j in range(size):
        # Print an asterisk followed by a space. The 'end=" "' argument prevents a newline
        # after each asterisk, keeping them on the same line.
        print("*", end=" ")
    # After the inner loop completes (i.e., all asterisks for the current row are printed),
    # print a newline character to move to the next line for the next row.
    print()

## Square Pattern

### Subtask:
Generate Python code to print a solid square pattern using asterisks.

Enter the size of the square (e.g., 5 for a 5x5 square): 4
* * * *
* * * *
* * * *
* * * *

## Right-Angled Triangle Pattern

In [ ]:
print("## Right-Angled Triangle Pattern\n\n### Subtask:\nGenerate Python code to print a right-angled triangle pattern using asterisks.\n")
# Print a right-angled triangle pattern using asterisks based on a user-defined size.

# Prompt the user to enter the desired size (number of rows) for the triangle.
size = int(input("Enter the size of the right-angled triangle (e.g., 5 for 5 rows): "))

# Outer loop for iterating through each row.
# The range(size) function generates numbers from 0 up to (but not including) 'size'.
# We will use 'i' to represent the current row index, starting from 0.
for i in range(size):
    # Inner loop for iterating through each column in the current row.
    # The number of asterisks in each row should be (i + 1) to form the triangle.
    for j in range(i + 1):
        # Print an asterisk followed by a space. The 'end=" "' argument prevents a newline
        # after each asterisk, keeping them on the same line.
        print("*", end=" ")
    # After the inner loop completes (i.e., all asterisks for the current row are printed),
    # print a newline character to move to the next line for the next row.
    print()

## Right-Angled Triangle Pattern

### Subtask:
Generate Python code to print a right-angled triangle pattern using asterisks.

Enter the size of the right-angled triangle (e.g., 5 for 5 rows): 5
*
* *
* * *
* * * *
* * * * *

## Inverted Right-Angled Triangle Pattern

In [ ]:
print("## Inverted Right-Angled Triangle Pattern\n\n### Subtask:\nGenerate Python code to print an inverted right-angled triangle pattern using asterisks.\n")
# Print an inverted right-angled triangle pattern using asterisks based on a user-defined size.

# Prompt the user to enter the desired size (number of rows) for the triangle.
size = int(input("Enter the size of the inverted right-angled triangle (e.g., 5 for 5 rows): "))

# Outer loop for iterating through each row.
# The range(size, 0, -1) generates numbers from 'size' down to 1.
# This means the first row will have 'size' asterisks, the next 'size-1', and so on.
for i in range(size, 0, -1):
    # Inner loop for iterating through each column in the current row.
    # The number of asterisks in each row should be 'i' (current row number from the outer loop).
    for j in range(i):
        # Print an asterisk followed by a space. The 'end=" "' argument prevents a newline
        # after each asterisk, keeping them on the same line.
        print("*", end=" ")
    # After the inner loop completes (i.e., all asterisks for the current row are printed),
    # print a newline character to move to the next line for the next row.
    print()

## Inverted Right-Angled Triangle Pattern

### Subtask:
Generate Python code to print an inverted right-angled triangle pattern using asterisks.

Enter the size of the inverted right-angled triangle (e.g., 5 for 5 rows): 5
* * * * *
* * * *
* * *
* *
*

## Pyramid Pattern

In [ ]:
print("## Pyramid Pattern\n\n### Subtask:\nGenerate Python code to print a pyramid pattern (equilateral triangle) using asterisks.\n")
# Print a pyramid pattern using asterisks based on a user-defined size.

# Prompt the user to enter the desired size (number of rows) for the pyramid.
size = int(input("Enter the size of the pyramid (e.g., 5 for 5 rows): "))

# Outer loop for iterating through each row.
# The range(size) function generates numbers from 0 up to (but not including) 'size'.
# 'i' represents the current row index.
for i in range(size):
    # Inner loop for printing leading spaces.
    # The number of spaces decreases with each row: (size - i - 1).
    for j in range(size - i - 1):
        print(" ", end="") # Print a space

    # Inner loop for printing asterisks.
    # The number of asterisks increases with each row: (2 * i + 1).
    for k in range(2 * i + 1):
        print("*", end="") # Print an asterisk

    # After all spaces and asterisks for the current row are printed,
    # print a newline character to move to the next line.
    print()

## Pyramid Pattern

### Subtask:
Generate Python code to print a pyramid pattern (equilateral triangle) using asterisks.

Enter the size of the pyramid (e.g., 5 for 5 rows): 5
    *
   ***
  *****
 *******
*********

## Inverted Pyramid Pattern

In [ ]:
print("## Inverted Pyramid Pattern\n\n### Subtask:\nGenerate Python code to print an inverted pyramid pattern (equilateral triangle) using asterisks.\n")
# Print an inverted pyramid pattern using asterisks based on a user-defined size.

# Prompt the user to enter the desired size (number of rows) for the inverted pyramid.
size = int(input("Enter the size of the inverted pyramid (e.g., 5 for 5 rows): "))

# Outer loop for iterating through each row.
# The range(size, 0, -1) function generates numbers from 'size' down to 1.
# 'i' represents the current row number.
for i in range(size, 0, -1):
    # Inner loop for printing leading spaces.
    # The number of spaces increases with each row: (size - i).
    for j in range(size - i):
        print(" ", end="") # Print a space

    # Inner loop for printing asterisks.
    # The number of asterisks decreases with each row: (2 * i - 1).
    for k in range(2 * i - 1):
        print("*", end="") # Print an asterisk

    # After all spaces and asterisks for the current row are printed,
    # print a newline character to move to the next line.
    print()

## Inverted Pyramid Pattern

### Subtask:
Generate Python code to print an inverted pyramid pattern (equilateral triangle) using asterisks.

Enter the size of the inverted pyramid (e.g., 5 for 5 rows): 5
*********
 *******
  *****
   ***
    *

## Diamond Pattern

In [ ]:
print("## Diamond Pattern\n\n### Subtask:\nGenerate Python code to print a diamond pattern using asterisks.\n")
# Print a diamond pattern using asterisks based on a user-defined size.

# Prompt the user to enter the desired size (number of rows for the upper half) for the diamond.
size = int(input("Enter the size for the diamond (e.g., 5 for 5 rows in the upper half): "))

# --- Upper half of the diamond (Pyramid) ---
# Outer loop for iterating through each row of the upper half.
# 'i' represents the current row index, from 0 to size-1.
for i in range(size):
    # Inner loop for printing leading spaces.
    # The number of spaces decreases with each row: (size - i - 1).
    for j in range(size - i - 1):
        print(" ", end="") # Print a space

    # Inner loop for printing asterisks.
    # The number of asterisks increases with each row: (2 * i + 1).
    for k in range(2 * i + 1):
        print("*", end="") # Print an asterisk

    # After all spaces and asterisks for the current row are printed,
    # print a newline character to move to the next line.
    print()

# --- Lower half of the diamond (Inverted Pyramid) ---
# Outer loop for iterating through each row of the lower half.
# We start from 'size - 2' (to avoid duplicating the widest row) down to 0.
# 'i' represents the current row index for the inverted pyramid.
for i in range(size - 2, -1, -1):
    # Inner loop for printing leading spaces.
    # The number of spaces increases with each row: (size - i - 1).
    for j in range(size - i - 1):
        print(" ", end="") # Print a space

    # Inner loop for printing asterisks.
    # The number of asterisks decreases with each row: (2 * i + 1).
    for k in range(2 * i + 1):
        print("*", end="") # Print an asterisk

    # After all spaces and asterisks for the current row are printed,
    # print a newline character to move to the next line.
    print()

## Diamond Pattern

### Subtask:
Generate Python code to print a diamond pattern using asterisks.

Enter the size for the diamond (e.g., 5 for 5 rows in the upper half): 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## Number Pattern

In [ ]:
print("## Number Pattern\n\n### Subtask:\nGenerate Python code to print a number pattern where each row displays sequential numbers.\n")
# Print a number pattern where each row displays sequential numbers based on a user-defined size.

# Prompt the user to enter the desired number of rows for the pattern.
size = int(input("Enter the number of rows for the number pattern (e.g., 5): "))

# Initialize a counter for sequential numbers.
num = 1

# Outer loop for iterating through each row.
# 'i' represents the current row index, from 0 to size-1.
for i in range(size):
    # Inner loop for iterating through each column in the current row.
    # The number of elements in each row increases with each row (i+1).
    for j in range(i + 1):
        # Print the current sequential number, followed by a space.
        # The 'end=" "' argument prevents a newline after each number, keeping them on the same line.
        print(num, end=" ")
        # Increment the counter for the next sequential number.
        num += 1
    # After the inner loop completes (i.e., all numbers for the current row are printed),
    # print a newline character to move to the next line for the next row.
    print()

## Number Pattern

### Subtask:
Generate Python code to print a number pattern where each row displays sequential numbers.

Enter the number of rows for the number pattern (e.g., 5): 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# 10. LAMBDA FUNCTION

In short, Lambda function are anonyms function which was created for temproary purpose whereas def (standard function definition) are used for reusing purpose.

In [ ]:
# Lambda functions are anonymous functions means that the function without any function name
s1 = "GeeksForGeeks"
s2 = lambda func: func.upper()
print(s2(s1))

GEEKSFORGEEKS

In [ ]:
# Use case of lambda function
# casett 1: Using with condition checking
n = lambda x : "Positive" if x > 0 else "Negative" if x < 0 else "Zero"
print(n(5))
print(n(-5))
print(n(0))

Positive
Negative
Zero

In [ ]:
#Check divisiblity if 2 and say even or odd
check = lambda x:"Even" if x % 2 == 0 else "Odd"
print(check(2))
print(check(1))

Even
Odd

In [ ]:
#Case 2: Using with list comprehension method
lst = [lambda arg = x: arg * 10 for x in range(1, 5)]
for i in lst:
  print(i())

10
20
30
40

In [ ]:
# Case 3: Using for returning multiple results
calc = lambda x, y: (x + y, x * y)
res = calc(1,2)
print(res)

(3, 2)

In [ ]:
# Case 4: Using filter() method = filter method used in python to filter with function and argument in
#sequence and for only which function return true
n = [1,2,3,4,5,6,7,8,9,10]
even = filter(lambda x: x % 2 == 0, n) # This lambda function only return the even values in list
print(list(even))

[2, 4, 6, 8, 10]

In [ ]:
# Case 5: Using map() function = applies given function to each iterable (list, tuples, set etc...) and returns a map object (iterator)
#Syntax= map(function, iterable)
a = [1, 2, 3, 4]
b = map(lambda x: x * 2, a)
print(list(b))

[2, 4, 6, 8]

In [ ]:
# reduce() function (from functools) applies a function cumulatively to an iterable, reducing it to a single value.
# Its handy for concise tasks like summing, multiplying (factorial), finding max/min, concatenating strings or flattening lists.
# Use it for simple one-line reductions, avoid it for complex logic (loops are clearer) or when intermediate results are needed.
from functools import reduce
a = [1, 2, 3, 4]
b = reduce(lambda x, y: x * y, a)
print(b)

24

# 11. Heap queue or heapq data structure in python

A heap queue (also called priority queue) is a special data structure that allow quick access to the smallest (min-heap) or largest (max-heap). min-heap was implemented in default. Smallest element will be always at root of the strucutre for offering effient access.

NOTE: Mostly heapq was used in dijikstra algm, huffman coding or any task that require quick access to smallest element

Helps to maintain a list in heap order with minimal code and high performance

They are ideal for managing sorted data dynamically without full sorting after each operation

## Key operations:

1. Create (heapify): Convert a regular list into a valid min-heap using heapq.heapify()

2. Push (heappush): Adds an element to the heap while keeping the heap properly intact

3. Pop (heappop): Removes and returns the smallest element from the heap

4. Peek: Access the smallest element without removing it using heap[0]

5. Push and pop (heappushpop): Push a new element and pop the smallest in a single step

6. Replace(heapreplace): Pop the smallest and push a new element in one step

In [ ]:
# Default min heap
import heapq
lst = [10,20,30,40,50]

heapq.heapify(lst)
print("Min Heap Queue:", lst)

# Since heapq is implementing min heap in default,
#To create a max-heap,
#we need to invert the values(store negative number)
nums = [30,40,50,60,70]
max_heap = [-n for n in nums] # Convert into max heap by inverting values
heapq.heapify(max_heap)
print("Print the largest element (used max heap):", -max_heap[0]) # Access the largest element (invert sign again)

Min Heap Queue: [10, 20, 30, 40, 50]
Print the largest element (used max heap): 70

In [ ]:
# TO push element and pop the smallest element
heapq.heappush(lst, 60)
print(lst)
heapq.heappop(lst)
print(lst) # THis pops smallest element

[20, 40, 30, 60, 50, 60]
[30, 40, 60, 60, 50]

In [ ]:
#Push and pop simultaneously
min = heapq.heappushpop(lst, 70)
print(min)
print(lst)

30
[40, 50, 60, 60, 70]

In [ ]:
# Find the largest and smallest element upto specific range - Use nlargest() and nsmallest()
large = heapq.nsmallest(3, lst)
small = heapq.nlargest(3, lst)
print(large)
print(small)

[40, 50, 60]
[70, 60, 60]

In [ ]:
# Preplace and merge operations
lst1 = [40,50,60,70]
print(lst1)
#Replacing smallest element 40 with 30
min_elem_replaced = heapq.heapreplace(lst1, 30)
print(min_elem_replaced)
print(lst1)

lst2 = [40, 80, 90, 100]
merge = list(heapq.merge(lst1, lst2))
print("Merged heap:", merge)

[40, 50, 60, 70]
40
[30, 50, 60, 70]
Merged heap: [30, 40, 50, 60, 70, 80, 90, 100]

# 12. Deque - Double ended queue

Deque stands for double ended queue. It allows us to add and remove elements from both side efficiently.

Applications: Task sheduling, Sliding window problems and real-time data processing.

It offers built-in methods : appendleft(), popleft() and rotate()

It can function both as queue and stack

Takes O(1) for adding/removing elements

In [ ]:
from collections import deque
import collections

q = collections.deque([1,2,3]) # Declaring queue

# Append(x): Adds x to the right end of the deque.
q.append(4)
print("After append right 4:", q)
# Eppendleft(x): Adds x to the left end of the deque.
q.appendleft(5)
print("After append left 5:", q)
# extend(iterable): Adds all elements from the iterable to the right end.
q.extend([4,5,6])
print("After extend([4,5,6]):", q)

# Extendleft(iterable): Add all elements from the iterable to the left end (in reverse order)
q.extendleft([0])
print("After extendleft([0]):", q)

# Remove method
q.remove(6)
print("After remove(6):", q)

# Remove elements from th right
q.pop()

# Remove elements from the left
q.popleft()

print("After pop and popleft:", q)

#Finding length of queue
print(len(q))

# Counting the occurence of the value
print(q.count(5))

# Rotating the deque for the 2 steps to the right
q.rotate(2)
print(q)

# Rotating the deque for the 3 steps to the left
q.rotate(-3)
print(q)

# Reversing the deque
q.reverse()
print(q)

# Accessing element by index:
print(q[-1])
print(q[0])

# Clear all elem in queue
q.clear()

print("After clear():", q)

After append right 4: deque([1, 2, 3, 4])
After append left 5: deque([5, 1, 2, 3, 4])
After extend([4,5,6]): deque([5, 1, 2, 3, 4, 4, 5, 6])
After extendleft([0]): deque([0, 5, 1, 2, 3, 4, 4, 5, 6])
After remove(6): deque([0, 5, 1, 2, 3, 4, 4, 5])
After pop and popleft: deque([5, 1, 2, 3, 4, 4])
6
1
deque([4, 4, 5, 1, 2, 3])
deque([1, 2, 3, 4, 4, 5])
deque([5, 4, 4, 3, 2, 1])
1
5
After clear(): deque([])

# 13. Tuples and Dictionary

'''
Comparison: Tuples vs. Dictionaries

Tuples:
- Immutable: Once created, elements cannot be changed, added, or removed.
- Ordered: Elements have a defined order, which will not change.
- Allow duplicates: Can contain multiple items with the same value.
- Accessed by index: Elements are retrieved using integer indices (e.g., my_tuple[0]).
- Defined using parentheses: my_tuple = (1, 2, 3).
- Use cases: Storing collections of related but fixed data (e.g., coordinates, database records).

Dictionaries:
- Mutable: Elements can be changed, added, or removed after creation.
- Ordered (from Python 3.7+): Insertion order is preserved. (Prior to 3.7, they were unordered).
- Key-value pairs: Stores data in key: value pairs.
- Keys must be unique and immutable: Each key must be distinct and of an immutable type (e.g., strings, numbers, tuples).
- Accessed by key: Values are retrieved using their associated keys (e.g., my_dict["key"]).
- Defined using curly braces: my_dict = {"key": "value"}.
- Use cases: Storing data where each piece of information has a unique identifier (e.g., user profiles, configuration settings).
'''

In [ ]:
# --- Tuple Methods ---
print("\n--- Tuple Methods ---")
my_tuple = (1, 2, 3, 2, 4, 5, 2)
print("Original Tuple:", my_tuple)

# 1. count(): Returns the number of times a specified value occurs in a tuple
print("Count of 2:", my_tuple.count(2)) # Output: 3

# 2. index(): Searches the tuple for a specified value and returns the position of where it was found
print("Index of 4:", my_tuple.index(4)) # Output: 4

# Tuples also support slicing and indexing (not methods, but common operations)
print("Element at index 0:", my_tuple[0]) # Output: 1
print("Slice from index 1 to 4:", my_tuple[1:5]) # Output: (2, 3, 2, 4)


# --- Dictionary Methods ---
print("\n--- Dictionary Methods ---")
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print("Original Dictionary:", my_dict)

# 1. clear(): Removes all the elements from the dictionary
# temp_dict = my_dict.copy() # Make a copy to demonstrate clear without affecting original for other tests
# temp_dict.clear()
# print("After clear():", temp_dict) # Output: {}

# 2. copy(): Returns a copy of the dictionary
new_dict = my_dict.copy()
print("Copied Dictionary:", new_dict)

# 3. fromkeys(): Returns a dictionary with the specified keys and value
keys = ('key1', 'key2', 'key3')
value = 0
dict_from_keys = dict.fromkeys(keys, value)
print("fromkeys():", dict_from_keys) # Output: {'key1': 0, 'key2': 0, 'key3': 0}

# 4. get(): Returns the value of the specified key
print("Get 'name':", my_dict.get("name")) # Output: Alice
print("Get non-existent key (returns None):"), my_dict.get("country") # Output: None
print("Get non-existent key with default value:", my_dict.get("country", "USA")) # Output: USA

# 5. items(): Returns a list containing a tuple for each key-value pair
print("items():", my_dict.items())

# 6. keys(): Returns a list containing the dictionary's keys
print("keys():", my_dict.keys())

# 7. pop(): Removes the element with the specified key
popped_age = my_dict.pop("age")
print("After pop('age'):", my_dict, "Popped value:", popped_age)

# 8. popitem(): Removes the last inserted key-value pair (in versions before 3.7, a random item is removed)
popped_item = my_dict.popitem()
print("After popitem():", my_dict, "Popped item:", popped_item)

# Reset my_dict for further demonstrations
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# 9. setdefault(): Returns the value of the specified key. If the key does not exist: inserts the key with the specified value.
my_dict.setdefault("occupation", "Engineer")
print("After setdefault('occupation'):", my_dict)
my_dict.setdefault("name", "Bob") # Key already exists, value not changed
print("After setdefault('name'):", my_dict)

# 10. update(): Updates the dictionary with the specified key-value pairs
my_dict.update({"age": 31, "country": "USA"})
print("After update():", my_dict)

# 11. values(): Returns a list of all the values in the dictionary
print("values():", my_dict.values())

# Other common dictionary operations (not methods):
# Accessing a value by key
print("Direct access 'name':", my_dict["name"])

# Adding a new key-value pair
my_dict["email"] = "alice@example.com"
print("After adding 'email':", my_dict)

# Modifying an existing value
my_dict["age"] = 32
print("After modifying 'age':", my_dict)

# Deleting a key-value pair using del keyword
del my_dict["city"]
print("After deleting 'city':", my_dict)

--- Tuple Methods ---
Original Tuple: (1, 2, 3, 2, 4, 5, 2)
Count of 2: 3
Index of 4: 4
Element at index 0: 1
Slice from index 1 to 4: (2, 3, 2, 4)

--- Dictionary Methods ---
Original Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}
Copied Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}
fromkeys(): {'key1': 0, 'key2': 0, 'key3': 0}
Get 'name': Alice
Get non-existent key (returns None):
Get non-existent key with default value: USA
items(): dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])
keys(): dict_keys(['name', 'age', 'city'])
After pop('age'): {'name': 'Alice', 'city': 'New York'} Popped value: 30
After popitem(): {'name': 'Alice'} Popped item: ('city', 'New York')
After setdefault('occupation'): {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}
After setdefault('name'): {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}
After update(): {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA'}
values(): dict_values(['Alice', 31, 'New York', 'Engineer', 'USA'])
Direct access 'name': Alice
After adding 'email': {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA', 'email': 'alice@example.com'}
After modifying 'age': {'name': 'Alice', 'age': 32, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA', 'email': 'alice@example.com'}
After deleting 'city': {'name': 'Alice', 'age': 32, 'occupation': 'Engineer', 'country': 'USA', 'email': 'alice@example.com'}